@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="p-4 p-md-5 mb-4 rounded  project">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Документация</h1>
        <p align="justify" class="lead my-3 text-white"> Здесь Вы можете ознакомиться с документацией, подтверждающей компетентность предприятия.</p>   <p align="justify" class="lead my-3 text-white">Предприятие имеет аттестаты соответствия по выполнению функций генерального подрядчика четвертой категории и на право осуществления строительства третьей категории по указанным далее видам работ.</p>
        @* <p class="lead mb-0"><a href="Index" class="text-white fw-bold">Continue reading...</a></p>*@
    </div>
</div>

<div class="dop"></div>
<img class="inf_img" src="~/picture/atsootv1.jpg">
<img class="inf_img" src="~/picture/atsootv2.jpg">

<div class="dop"></div>

<img class="inf_img" src="~/picture/atsootv3.jpg">

<div class="dop"></div>

<img class="inf_img" src="~/picture/tehcomp1.jpg">
<img class="inf_img" src="~/picture/tehcomp2.jpg">

<div class="dop"></div>

<img class="inf_img" src="~/picture/tehcomp3.jpg">
<img class="inf_img" src="~/picture/tehcomp4.jpg">

<div class='dop-new'></div>