@model Order

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="modal fade" id="addOrder">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="addOrderLabel">Добавить заказ</h4>
                <button type="button" class="close" data-bs-dismiss="modal">
                    <span>x</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="EditOrderPartial" route="@Model" >

                    <div class="form-group">

                        <label asp-for="Work"></label>
                        <input asp-for="Work" class="form-control" />
                        <span asp-validation-for="Work" class="text-danger"></span>

                    </div>
                    <div class="form-group">

                        <label asp-for="Locality"></label>
                        <input asp-for="Locality" class="form-control" />
                        <span asp-validation-for="Locality" class="text-danger"></span>

                    </div>
                    <div class="form-group">

                        <label asp-for="Volume"></label>
                        <input asp-for="Volume" class="form-control" />
                        <span asp-validation-for="Volume" class="text-danger"></span>

                    </div>
                    <div class="form-group">

                        <label asp-for="Material"></label>
                        <input asp-for="Material" class="form-control" />
                        <span asp-validation-for="Material" class="text-danger"></span>

                    </div>

                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data--bs-dismiss="modal">Выйти</button>
                <button type="button" class="btn btn-dark" data-save="modal">Сохранить</button>
            </div>

        </div>


    </div>



</div>