@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<div class="p-4 p-md-5 mb-4 rounded  project">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Отзывы</h1>
        <p align="justify" class="lead my-3 text-white"> ООО "Снектрейд" - надежное строительное предприятие, которое предоставляет услуги в сфере ремонтов, строительства, реконструкции.</p>   <p align="justify" class="lead my-3 text-white">Здесь Вы можете ознакомиться с отзывами на выполненные нами работы.</p>
        @* <p class="lead mb-0"><a href="Index" class="text-white fw-bold">Continue reading...</a></p>*@
    </div>
</div>

<div class="dop"></div>

<div class="container text-center ">
    <div class="row align-items-start">
        <div class="col">
            <img class="feed_img minimized" src="~/picture/ot1.png">
        </div>
        <div class="col">
            <img class="feed_img" src="~/picture/ot2.png">
        </div>
   
    </div>

    <div class="dop"></div>

    <div class="row align-items-center">
        <div class="col">
            <img class="feed_img" src="~/picture/ot3.png">
        </div>
        <div class="col">
            <img class="feed_img" src="~/picture/ot4.png">
        </div>
       
    </div>

    <div class="dop"></div>

    <div class="row align-items-end">
        <div class="col">
            <img class="feed_img" src="~/picture/ot5.png">
        </div>
        <div class="col">
            <img class="feed_img" src="~/picture/ot6.png">
        </div>
        
    </div>

    <div class="dop"></div>

    <div class="row align-items-end">
        <div class="col">
            <img class="feed_img" src="~/picture/ot7.png">
        </div>
        <div class="col">
            <img class="feed_img" src="~/picture/ot8.png">
        </div>

    </div>

    <div class="dop"></div>

    <div class="row align-items-end">
        <div class="col">
            <img class="feed_img" src="~/picture/ot9.png">
        </div>
        <div class="col">
            <img class="feed_img" src="~/picture/ot10.png">
        </div>

    </div>
</div>


@if (SignInManager.IsSignedIn(User))
{
    <img class="inf_img" src="https://www.homestratosphere.com/wp-content/uploads/2018/10/woodworking-tools-100218-min.jpg">
}
@*<!--Контейнер в котором мы будем отображать большую картинку-->
<div id="img_container"><img src="" width="900vh"></div>
<!--Контейнер с миниатюрами-->
<div class="in">
    <img class="feed_img" src="~/picture/ot2.png">
</div>

*@

<div class='dop-new'></div>