@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href=" ~ /wwwroot/css/site.css" />
</head>

<body>
<div class="text-center">
 
    <div class='company'>

        <div class="main_box">
            <div class="main_text">Строим и улучшаем!</div>
        </div>

    @*    <CompanyListItem />

        <Inf />*@
      <div class="company_inf">

            <img class="inf_img" src= "https://www.homestratosphere.com/wp-content/uploads/2018/10/woodworking-tools-100218-min.jpg" >
           
            <div class="inf_text_box">
                <div class="inf_text__title"><h2>О компании</h2></div>
                <div class="inf_text">
                    <p>ООО "Снектрейд" - надежное строительное предприятие, которое предоставляет услуги в сфере ремонтов, строительства, реконструкции.</p>
                    <p>Наши работники - опытные строители, инженеры и прорабы, которые имеют высшее строительное образование, допуск к специализированным работам, отлично выполняют любые строительные работы.</p>
                    <p>Главная задача компании - обеспечение качества в строительстве и производстве. Поэтому мы тщательно отбираем поставщиков сырья и материалов для наших объектов, и контролируем наших работников.</p>
                    <p>Предоставляем весь комплекс строительных работ. </p>

                </div>
            </div>

        </div>
        <div class="container px-4 py-5" id="custom-cards">
            <h2 class="pb-2 border-bottom">Custom cards</h2>

            <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
                <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://cdnassets.hw.net/a3/45/f1b4ba414d45862f98d2c2b7d9a8/mlcon24-c.png');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Short title, long jacket</h3>
                      
                        </div>
                    </div>
                </div>

                <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://www.prereal.com/uploads/load-imagetools.jpeg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h3>
                          
                        </div>
                    </div>
                </div>

                <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://thumbs.dreamstime.com/b/set-old-used-masonry-tools-rough-wooden-surface-copy-space-53228744.jpg');">
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>
                            
                        </div>
                    </div>
                </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://thumbs.dreamstime.com/b/set-old-used-masonry-tools-rough-wooden-surface-copy-space-53228744.jpg');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Another longer title belongs here</h3>

                    </div>
                </div>
            </div>
          </div>
       </div>

        <div class="style.dop"></div>

      @*  <Services />*@

        

    </div>
</div>
</body>
</html>