@{
    ViewData["Title"] = "Projects";
}



<h1>@ViewData["Title"]</h1>


<div class="p-4 p-md-5 mb-4 rounded  project">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Наши работы</h1>
        <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
        <p class="lead mb-0"><a href="Index" class="text-white fw-bold">Continue reading...</a></p>
    </div>
</div>
<p>Use this page to detail your site's privacy policy.</p>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

