@{
    ViewData["Title"] = "";
}



<h1>@ViewData["Title"]</h1>


<div class="p-4 p-md-5 mb-4 rounded  project">
    <div class="col-md-6 px-0">
        <h1 class="display-4 fst-italic">Наши работы</h1>
        <p align="justify" class="lead my-3 text-white"> В перечень выполняемых работ входит весь комплекс строительных работ. Здесь вы можете просмотреть фотоотчёты наших проектов.</p>
       @* <p class="lead mb-0"><a href="Index" class="text-white fw-bold">Continue reading...</a></p>*@
    </div>
</div>


<div class="row row-cols-1  @*row-cols-md-3*@ g-3  project1 project_box">



    <div class="col">
        <div class="card shadow-sm">
            <img src="~/photo/main1.jpg" class="card-img-top" alt="...">

            <div class="card-body">
                <p class="card-text lead my-3 ">Фитнесс-центр «WEHHOUSE» г. Минск.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-dark">Подробнее</button>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</div>






<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 project_box">

   

    <div class="col">
        <div class="card shadow-sm">
            <img src="~/photo/main5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text lead my-3">Cтроительный гипермаркет в г. Солигорск.</p>
                <div class="d-flex justify-content-between align-items-center">
                    
                        <button type="button" class="btn btn-dark">Подробнее</button>
                       

                </div>
            </div>
        </div>
    </div>
     <div class="col">
        <div class="card shadow-sm">
           <img src="~/photo/main3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text lead my-3 ">ТЦ «Радуга» в г. Мозырь.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-dark">Подробнее</button>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card shadow-sm">
            <img src="~/photo/main4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text lead my-3 ">МИНГАЗ г Мядель</p>
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-dark">Подробнее</button>

                </div>
            </div>
        </div>
    </div>



 </div>

<div class='dop'></div>

<div class="row row-cols-1 row-cols-sm-2  project_box3">
    
    <div class="col  project5">
        <div class="card shadow-sm">
            <img src="~/photo/main2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text lead my-3 ">ЗАО «СТРУННЫЕ ТЕХНОЛОГИИ», г. Марьина Горка.</p>
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-dark">Подробнее</button>

                </div>
            </div>
        </div>
    </div>

    <div class="col project6">
        <div class="card shadow-sm">
            <img src="~/photo/main6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text lead my-3 ">ТД «Стройпродукт» в г.Молодечно</p>
                <div class="d-flex justify-content-between align-items-center">
                    <button type="button" class="btn btn-dark">Подробнее</button>

                </div>
            </div>
        </div>
    </div>
 
</div>



<div class='dop-new'></div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

